<script type="text/javascript" charset="utf-8">
  $(function () {
     $('#wpw-chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
        		text: "Saves per Week"	
        },
        xAxis: {
            title:{
                    text: "Weeks"
                },tickInterval: 5
        },
        yAxis:{
        	title: {
        		text: "Saves"	
        	}
        },
        legend: {
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'center',
            verticalAlign: 'top',
            y: 40
        },
        series: [{
            name: "At the Helm",
            data: <%= weekly_team_saves("At the Helm") %>
          	},{ 
            name: "Big Duchene",
            data: <%= weekly_team_saves("Big Douche-Hayne") %>
            },{ 
            name: "Chris's Team",
            data: <%= weekly_team_saves("Chris's Team") %>
            },{ 
            name: "Dustin Pennertration",
            data: <%= weekly_team_saves("Double Pennertration") %>
            },{ 
            name: "Hamhuis Sandwich's",
            data: <%= weekly_team_saves("Hamhuis Sandwich's") %>
            },{ 
            name: "Keith's Great Team",
            data: <%= weekly_team_saves("Keith's Great Team") %>
            },{ 
            name: "Lookin Sharp",
            data: <%= weekly_team_saves("Lookin Sharp") %>
            },{ 
            name: "Teemu's Salami",
            data: <%= weekly_team_saves("Teemu's Salami") %>
            },{ 
            name: "The Saadfather",
            data: <%= weekly_team_saves("The Saadfather") %>
            },{
            name: "Yippee Kai Yo Paille",
            data: <%= weekly_team_saves("Yippee Kai Yo Paille") %>
        }]
    });

		$('#tw-chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
        		text: "Cumulative Saves"	
        },
        xAxis: {
            title:{
                    text: "Weeks"
                },tickInterval: 5
        },
        yAxis:{
        	title: {
        		text: "Saves",
        	},
        	min: 0
        },
        legend: {
            layout: 'vertical',
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'left',
            verticalAlign: 'top',
            y: 60,
            x: 50
        },
        series: [{
            name: "At the Helm",
            data: <%= cumulative_team_saves("At the Helm") %>
          	},{ 
            name: "Big Duchene",
            data: <%= cumulative_team_saves("Big Douche-Hayne") %>
            },{ 
            name: "Chris's Team",
            data: <%= cumulative_team_saves("Chris's Team") %>
            },{ 
            name: "Dustin Pennertration",
            data: <%= cumulative_team_saves("Double Pennertration") %>
            },{ 
            name: "Hamhuis Sandwich's",
            data: <%= cumulative_team_saves("Hamhuis Sandwich's") %>
            },{ 
            name: "Keith's Great Team",
            data: <%= cumulative_team_saves("Keith's Great Team") %>
            },{ 
            name: "Lookin Sharp",
            data: <%= cumulative_team_saves("Lookin Sharp") %>
            },{ 
            name: "Teemu's Salami",
            data: <%= cumulative_team_saves("Teemu's Salami") %>
            },{ 
            name: "The Saadfather",
            data: <%= cumulative_team_saves("The Saadfather") %>
            },{
            name: "Yippee Kai Yo Paille",
            data: <%= cumulative_team_saves("Yippee Kai Yo Paille") %>
        }]
    });

    $('#total-chart').highcharts({
    	chart:{
    		renderTo:'total-chart',
    	},
            xAxis:{
                categories: ["At the Helm", "Big Duchene", "Chris's Team", "Dustin Pennertration",
                "Hamhuis Sandwich's",  "Keiths Great Team",
                "Lookin Sharp", "Teemu's Salami", "The Saadfather", "Yippee Kai Yo Paille"]
            },
    	title: {
    		text: "Total Saves"
    	},
    	series: [{
    			type: 'column',
    			data: <%= raw save_totals.to_json %>,
    			name: "Saves"
    	}]

    });	
	});
</script>
<div id="wpw-chart"></div>
<div id="total-chart"></div>
<div id="tw-chart"></div>
