<script type="text/javascript" charset="utf-8">
  $(function () {
     $('#wpw-chart').highcharts({
        chart: {
        		renderTo: 'wpw-chart',
            type: 'line'
        },
        title: {
        		text: "GAA per Week"	
        },
        xAxis: {
                title:{
                    text: "Weeks"
                },tickInterval: 5
        },
        yAxis:{
        	title: {
        		text: "GAA"	
        	},
        	min: 0
        },
        legend: {
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'center',
            verticalAlign: 'top',
            y: 40
        },
        series: [{
            name: "At the Helm",
            data: <%= weekly_team_gaa("At the Helm") %>
          	},{ 
            name: "Big Duchene",
            data: <%= weekly_team_gaa("Big Douche-Hayne") %>
            },{ 
            name: "Chris's Team",
            data: <%= weekly_team_gaa("Chris's Team") %>
            },{ 
            name: "Dustin Pennertration",
            data: <%= weekly_team_gaa("Double Pennertration") %>
            },{ 
            name: "Hamhuis Sandwich's",
            data: <%= weekly_team_gaa("Hamhuis Sandwich's") %>
            },{ 
            name: "Keith's Great Team",
            data: <%= weekly_team_gaa("Keith's Great Team") %>
            },{ 
            name: "Lookin Sharp",
            data: <%= weekly_team_gaa("Lookin Sharp") %>
            },{ 
            name: "Teemu's Salami",
            data: <%= weekly_team_gaa("Teemu's Salami") %>
            },{ 
            name: "The Saadfather",
            data: <%= weekly_team_gaa("The Saadfather") %>
            },{
            name: "Yippee Kai Yo Paille",
            data: <%= weekly_team_gaa("Yippee Kai Yo Paille") %>
        }]
    });

		$('#tw-chart-full').highcharts({
        chart: {
            type: 'line'
        },
        title: {
        		text: "Cumulative GAA"	
        },
        xAxis: {
                title:{
                    text: "Weeks"
                },tickInterval: 5
        },
        yAxis:{
        	title: {
        		text: "GAA",
        	},
        	min: 0
        },
        legend: {
            layout: 'vertical',
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'left',
            verticalAlign: 'top',
            y: 60,
            x: 50
        },
        series: [{
            name: "At the Helm",
            data: <%= cumulative_team_gaa("At the Helm") %>
          	},{ 
            name: "Big Duchene",
            data: <%= cumulative_team_gaa("Big Douche-Hayne") %>
            },{ 
            name: "Chris's Team",
            data: <%= cumulative_team_gaa("Chris's Team") %>
            },{ 
            name: "Dustin Pennertration",
            data: <%= cumulative_team_gaa("Double Pennertration") %>
            },{ 
            name: "Hamhuis Sandwich's",
            data: <%= cumulative_team_gaa("Hamhuis Sandwich's") %>
            },{ 
            name: "Keith's Great Team",
            data: <%= cumulative_team_gaa("Keith's Great Team") %>
            },{ 
            name: "Lookin Sharp",
            data: <%= cumulative_team_gaa("Lookin Sharp") %>
            },{ 
            name: "Teemu's Salami",
            data: <%= cumulative_team_gaa("Teemu's Salami") %>
            },{ 
            name: "The Saadfather",
            data: <%= cumulative_team_gaa("The Saadfather") %>
            },{
            name: "Yippee Kai Yo Paille",
            data: <%= cumulative_team_gaa("Yippee Kai Yo Paille") %>
        }]
    });
	});
</script>
<div id="wpw-chart"></div>
<div id="total-chart"></div>
<div id="tw-chart-full"></div>
